/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffffff;
  color: #2c80a9;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  justify-content: flex-start;
}

.menu li {
  margin-left: 0;
}

.menu li a {
  text-decoration: none;
  color: #2c80a9;
}

.section-title {
  text-align: center;
  font-size: 24px;
  color: #2c80a9;
  margin-bottom: 20px;
}

.sub-title {
  color: #2c80a9;
  font-size: 20px;
  margin-bottom: 10px;
}

.vision {
  margin-top: 100px;
  text-align: center;
}

.vision-text {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.mission {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.mission-list {
  list-style-type: decimal;
  padding-left: 0;
  margin: 0;
  padding: 0;
}

.mission-list li {
  margin-bottom: 60px;
  margin-left: 30%;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.card {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-top: 200px;
}

.card:hover {
  transform: translateY(-5px);
}

.card .sub-title {
  color: #2c80a9;
  font-size: 24px;
  margin-bottom: 10px;
}

.card .vision-text {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.card .mission-list {
  list-style-type: decimal;
  padding-left: 20px;
  margin: 0;
  padding: 0;
}

.card .mission-list li {
  margin-bottom: 10px;
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

/* Dropdown Menu Styles */
#navbar-toggle {
  display: none;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

@media (max-width: 600px) {
  .menu {
    display: none;
  }

  #navbar-toggle:checked + .menu {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    border: 1px solid #ccc;
    justify-content: flex-;
  }

  #navbar-toggle:checked + .menu li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
  }
}

/* Navigation Styles */



h1 {
  margin: 1px;
}

nav img {
  width:50px;
  height: 100%;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #2c80a9;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

/* Home Section Styles */
.home-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(background.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 300px;
  text-align: center;
}

.home-section h2 {
  margin-bottom: 20px;
}

.home-section p {
  font-size: 18px;
}

@media (max-width: 600px) {
  .home-section {
    padding: 200px 20px;
  }
}

/* Worship Schedule Styles */
.worship-schedule {
  margin-top: 200px;
  text-align: center;
}

.worship-schedule h2 {
  color: #2c80a9;
  margin-bottom: 20px;
}

.worship-schedule table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 200px;
}

.worship-schedule table th,
.worship-schedule table td {
  min-width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Countdown Section Styles */
.countdown-section {
  margin-top: 5px;
  text-align: center;
}

.countdown-section h2 {
  color: #2c80a9;
  margin-top: 5px;
  margin-bottom: 20px;
}

.countdown-item {
  display: inline-block;
  margin: 0 10px;
}

.countdown-value {
  font-size: 36px;
  font-weight: bold;
}

.countdown-label {
  font-size: 14px;
  color: #555;
  margin-bottom: 50px;
}

/* Contact Footer Styles */
.contact-footer {
  background-color: #2c80a9;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  text-align: left;
}

.contact-info p {
  color: #f8f8f8;
  display: flex;
  align-items: center;
}

.contact-info p .emoji {
  margin-right: 5px;
}

.contact-info a {
  color: #ffffff;
  text-decoration: underline;
}

.contact-info a:hover {
  text-decoration: underline;
  color: #1500ff;
}

.back-to-top-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #204a60;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.back-to-top-button:hover {
  background-color: #185c7b;
}
